pipeline/enr_details_data.json
{
	"name": "enr_details_data",
	"properties": {
		"activities": [
			{
				"name": "Enr_script",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "start time update",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/hwaitech@healthworksai.com/Plan_Finder/Enrollment_Scripts/Enrollment_data"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks4_pfcluster3",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy_enr_data_to_database",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Delete data if exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "Output_enrollment/Enrollment_final_data",
							"wildcardFileName": "p*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Enr_Output",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dataset_sql",
						"type": "DatasetReference",
						"parameters": {
							"sql_server_dataset": {
								"value": "@pipeline().parameters.sql_server_dataset_name",
								"type": "Expression"
							},
							"db_name_dataset": {
								"value": "@pipeline().parameters.db_name",
								"type": "Expression"
							},
							"user_name_dataset": {
								"value": "@pipeline().parameters.user_name",
								"type": "Expression"
							},
							"password_dataset": {
								"value": "@pipeline().parameters.password",
								"type": "Expression"
							},
							"sql_table_name": "OrgEnrollment"
						}
					}
				]
			},
			{
				"name": "Send email update",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "end time update for enr data load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.centralus.logic.azure.com:443/workflows/41ee3b475c3949a7a5b339451b7da176/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=L_dZ_r329mUA0Y029uo0EScLdKpIB5WuW_D8lJMZ4cU",
					"method": "POST",
					"body": {
						"value": "{\n \"title\":\"PIPELINE RUN FOR ENROLLMENT REFRESH COMPLETED\",\n \"color\":\"Green\",\n \"message\":\"monthly refresh of enrollment completed\",\n \"dataFactoryName\":\"@{pipeline().DataFactory}\",\n \"pipelineName\":\"@{pipeline().Pipeline}\",\n \"pipelineRunId\":\"@{pipeline().RunId}\",\n \"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "send email update for failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Enr_script",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.centralus.logic.azure.com:443/workflows/41ee3b475c3949a7a5b339451b7da176/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=L_dZ_r329mUA0Y029uo0EScLdKpIB5WuW_D8lJMZ4cU",
					"method": "POST",
					"body": {
						"value": "{\n \"title\":\"PIPELINE RUN FOR ENROLLMENT REFRESH FAILED\",\n \"color\":\"RED\",\n \"message\":\"@{activity('Enr_script').error.message}\",\n \"dataFactoryName\":\"@{pipeline().DataFactory}\",\n \"pipelineName\":\"@{pipeline().Pipeline}\",\n \"pipelineRunId\":\"@{pipeline().RunId}\",\n \"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "send email update for failure in copy files",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy_enr_data_to_database",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.centralus.logic.azure.com:443/workflows/41ee3b475c3949a7a5b339451b7da176/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=L_dZ_r329mUA0Y029uo0EScLdKpIB5WuW_D8lJMZ4cU",
					"method": "POST",
					"body": {
						"value": "{\n \"title\":\"PIPELINE RUN FOR ENROLLMENT REFRESH FAILED\",\n \"color\":\"RED\",\n \"message\":\"monthly refresh of enrollment pipeline gave an error in copying the table to database. plz check it in the pipeline and resolve the error\",\n \"dataFactoryName\":\"@{pipeline().DataFactory}\",\n \"pipelineName\":\"@{pipeline().Pipeline}\",\n \"pipelineRunId\":\"@{pipeline().RunId}\",\n \"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "start time update",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "INSERT INTO Audit(FileName, Operation, StartTime,Dashboard)\nValues('Enrolment', 'Enrolment_monthly_refresh', (Select GETDATE()),'Plan Finder');\nSelect * from Audit;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_sql",
						"type": "DatasetReference",
						"parameters": {
							"sql_server_dataset": {
								"value": "@pipeline().parameters.sql_server_dataset_name",
								"type": "Expression"
							},
							"db_name_dataset": {
								"value": "@pipeline().parameters.db_name",
								"type": "Expression"
							},
							"user_name_dataset": {
								"value": "@pipeline().parameters.user_name",
								"type": "Expression"
							},
							"password_dataset": {
								"value": "@pipeline().parameters.password",
								"type": "Expression"
							},
							"sql_table_name": "Audit"
						}
					}
				}
			},
			{
				"name": "end time update for Crosswalk_raw_file_processing",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Enr_script",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Update Audit\nset EndTime = (Select GETDATE())\nwhere Id = (select Count(*) from Audit);\n\nUpdate Audit\nSET Status = 'pass'\nwhere Id = (select Count(*) from Audit);\n\nUpdate Audit\nset Timetaken = EndTime-StartTime\nwhere Id = (select Count(*) from Audit);\n\nSelect * from Audit;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_sql",
						"type": "DatasetReference",
						"parameters": {
							"sql_server_dataset": {
								"value": "@pipeline().parameters.sql_server_dataset_name",
								"type": "Expression"
							},
							"db_name_dataset": {
								"value": "@pipeline().parameters.db_name",
								"type": "Expression"
							},
							"user_name_dataset": {
								"value": "@pipeline().parameters.user_name",
								"type": "Expression"
							},
							"password_dataset": {
								"value": "@pipeline().parameters.password",
								"type": "Expression"
							},
							"sql_table_name": "Audit"
						}
					}
				}
			},
			{
				"name": "end time update for crosswalk fail",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "send email update for failure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Update Audit\nset EndTime = (Select GETDATE())\nwhere Id = (select Count(*) from Audit);\n\nUpdate Audit\nSET Status = 'Fail'\nwhere Id = (select Count(*) from Audit);\n\nUpdate Audit\nset Timetaken = EndTime-StartTime\nwhere Id = (select Count(*) from Audit);\n\nSelect * from Audit;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_sql",
						"type": "DatasetReference",
						"parameters": {
							"sql_server_dataset": {
								"value": "@pipeline().parameters.sql_server_dataset_name",
								"type": "Expression"
							},
							"db_name_dataset": {
								"value": "@pipeline().parameters.db_name",
								"type": "Expression"
							},
							"user_name_dataset": {
								"value": "@pipeline().parameters.user_name",
								"type": "Expression"
							},
							"password_dataset": {
								"value": "@pipeline().parameters.password",
								"type": "Expression"
							},
							"sql_table_name": "Audit"
						}
					}
				}
			},
			{
				"name": "start time update_enr_data_load_to_db",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "end time update for Crosswalk_raw_file_processing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "INSERT INTO Audit(FileName, Operation, StartTime,Dashboard)\nValues('Enrolment', 'Enrolment_data_load_to_db', (Select GETDATE()),'Plan Finder');\nSelect * from Audit;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_sql",
						"type": "DatasetReference",
						"parameters": {
							"sql_server_dataset": {
								"value": "@pipeline().parameters.sql_server_dataset_name",
								"type": "Expression"
							},
							"db_name_dataset": {
								"value": "@pipeline().parameters.db_name",
								"type": "Expression"
							},
							"user_name_dataset": {
								"value": "@pipeline().parameters.user_name",
								"type": "Expression"
							},
							"password_dataset": {
								"value": "@pipeline().parameters.password",
								"type": "Expression"
							},
							"sql_table_name": "Audit"
						}
					}
				}
			},
			{
				"name": "end time update for enr data load",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy_enr_data_to_database",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Update Audit\nset EndTime = (Select GETDATE())\nwhere Id = (select Count(*) from Audit);\n\nUpdate Audit\nSET Status = 'pass'\nwhere Id = (select Count(*) from Audit);\n\nUpdate Audit\nset Timetaken = EndTime-StartTime\nwhere Id = (select Count(*) from Audit);\n\nSelect * from Audit;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_sql",
						"type": "DatasetReference",
						"parameters": {
							"sql_server_dataset": {
								"value": "@pipeline().parameters.sql_server_dataset_name",
								"type": "Expression"
							},
							"db_name_dataset": {
								"value": "@pipeline().parameters.db_name",
								"type": "Expression"
							},
							"user_name_dataset": {
								"value": "@pipeline().parameters.user_name",
								"type": "Expression"
							},
							"password_dataset": {
								"value": "@pipeline().parameters.password",
								"type": "Expression"
							},
							"sql_table_name": "Audit"
						}
					}
				}
			},
			{
				"name": "end time update for cenr data load fail",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "send email update for failure in copy files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Update Audit\nset EndTime = (Select GETDATE())\nwhere Id = (select Count(*) from Audit);\n\nUpdate Audit\nSET Status = 'Fail'\nwhere Id = (select Count(*) from Audit);\n\nUpdate Audit\nset Timetaken = EndTime-StartTime\nwhere Id = (select Count(*) from Audit);\n\nSelect * from Audit;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_sql",
						"type": "DatasetReference",
						"parameters": {
							"sql_server_dataset": {
								"value": "@pipeline().parameters.sql_server_dataset_name",
								"type": "Expression"
							},
							"db_name_dataset": {
								"value": "@pipeline().parameters.db_name",
								"type": "Expression"
							},
							"user_name_dataset": {
								"value": "@pipeline().parameters.user_name",
								"type": "Expression"
							},
							"password_dataset": {
								"value": "@pipeline().parameters.password",
								"type": "Expression"
							},
							"sql_table_name": "Audit"
						}
					}
				}
			},
			{
				"name": "Delete data if exists",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "start time update_enr_data_load_to_db",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DELETE FROM OrgEnrollment where Month = (SELECT DATENAME(month,GETDATE())) and Year = (SELECT YEAR(GETDATE()));\nSELECT TOP 10 * FROM OrgEnrollment;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_sql",
						"type": "DatasetReference",
						"parameters": {
							"sql_server_dataset": {
								"value": "@pipeline().parameters.sql_server_dataset_name",
								"type": "Expression"
							},
							"db_name_dataset": {
								"value": "@pipeline().parameters.db_name",
								"type": "Expression"
							},
							"user_name_dataset": {
								"value": "@pipeline().parameters.user_name",
								"type": "Expression"
							},
							"password_dataset": {
								"value": "@pipeline().parameters.password",
								"type": "Expression"
							},
							"sql_table_name": "OrgEnrollment"
						}
					}
				}
			}
		],
		"parameters": {
			"sql_server_dataset_name": {
				"type": "String",
				"defaultValue": "teghws.database.windows.net"
			},
			"db_name": {
				"type": "String",
				"defaultValue": "pf_data_prod"
			},
			"user_name": {
				"type": "String",
				"defaultValue": "hwstegadmin"
			},
			"password": {
				"type": "String",
				"defaultValue": "Goteg@12345"
			}
		},
		"folder": {
			"name": "PF_Pipelines/Monthly_Refresh"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-17T03:43:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}