pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select top(3) distinct UserId from OrgUser;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "HealthWorksPlan_SQL_Analytics",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "testvar1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "UserId",
					"value": {
						"value": "@{activity('Lookup1').output.value}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "testvar2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "testvar1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v2",
					"value": "@{replace(replace(replace(replace(variables('UserId'),'{\"id\":',''),'}',''),'[','('),']',')')}"
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "testvar2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from emp1 where id in @{variables('v2')}",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "HealthWorksPlan_SQL_Analytics",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"UserId": {
				"type": "String"
			},
			"v2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}